<div class='login-wrapper'>
    <form class='login'>
        <label class='title'>
            <h3 class='welcome'>Welcome to</h3>
            Movie Query
            <h5>An App Built with Clarity and The Movie DB</h5>
        </label>
        <h3>Please Login</h3>
        <input type='text' placeholder='email' [(ngModel)]='user.email' [ngModelOptions]='{standalone: true}'>
        <input type='password' placeholder='password' [(ngModel)]='user.password' [ngModelOptions]='{standalone: true}'>
        <button class="btn btn-primary" (click)='loginSubmit()'>Submit</button>
        <button class='btn btn-warning' [routerLink]="['/register']">Create an Account</button>
    </form>
</div>
