<ul *ngFor='let movies of favoriteList'>
  <div class='row'>
    <div class='col-lg-4 col-md-12 col-sm12 col-xs-12'>
      <div class='card'>
        <div class='card-header'>
          <h1 class='card-title'>{{movies.title}}</h1>
        </div>
        <div class='card-img'>
          <img src='https://image.tmdb.org/t/p/w500/{{movies.poster_path}}'>
        </div>
        <div class='card-block'>
            <div class='title'>
                <h3>Overview</h3>
            </div>
            <p>{{movies.overview}}</p>
        </div>
      </div>
    </div>
  </div>
</ul>
